nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3em;
  width: 100%;
  background-color: darkgreen;
  color: white;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-link{
  margin-left: 10px;
}
.nav-link:hover{
  text-decoration: underline;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(227, 255, 184);
  height: auto;
  min-height: 100vh;
}
.search-form{
  margin: 10px;
}
.search-bar{
  border: 5px solid rgb(202, 202, 202);
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.3s;
  font-size: 1.5em;
  color: white;
}
.search-bar:hover, .search-bar:focus{
  background-color: rgba(0,0,0,0.6);
}
.search-button{
  border: 5px solid rgb(202, 202, 202);
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.3s;
  font-size: 1.5em;
  margin-left: 10px;
}
.search-button:hover, .search-button:focus{
  background-color: rgba(0,0,0,0.6);
}
.recipes{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 50%));
  grid-gap: 10px;
}
.recipe{
  background-color: greenyellow;
  border: 5px solid rgb(202, 202, 202);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.recipe-links{
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  font-weight: bold;
}
.delete{
  color: red;
  cursor: pointer;
}
.modify{
  color: orange;
}
.upload-form > input[type=text], .upload-submit{
  display: block;
  width: 40vw;
  border: 5px solid rgb(202, 202, 202);
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.3s;
  border-radius: 10px;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
}
.upload-form > input[type=text]:focus, .upload-submit:hover, .upload-submit:focus{
  background-color: rgba(0,0,0,0.6);
}

@media only screen and (max-width: 600px) {
  .recipes{
    grid-template-columns: repeat(1, minmax(300px, 50%));
  }
}